{% extends 'layout.html.twig' %}

{% block content %}

	<div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Login
                    </h3>
                </div>
                <div class="panel-body">
                   <form method="POST" action="{{ route('auth.login') }}" >
                        <div class="form-group">
                            <label class="control-label"> E-mail </label>
                            <input class="form-control" type="email"  name="email">
                          
                            <label class="control-label"> Senha </label>
                            <input class="form-control" type="password"  name="password">
                          
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                           Entrar
                        </button>
                    </form>

                    
                </div>
            </div>
        </div>
    </div>



{% endblock %}